body{
    padding-top: 50px;
}
.container{
    max-width: 1210px;
    padding: 10px 20px 0 10px;
    width: 100%;
    height: 100%;
}
h1 {
    font: bold 48px Libre Baskerville;
}
h2 {
    font: bold 36px Libre Baskerville;
}
h3 {
    font: bold 28px Libre Baskerville;
}
h4 {
    font: bold 24px Libre Baskerville;
}
h5 {
    font: bold 22px Libre Baskerville;
}
h6 {
    font: bold 18px Libre Baskerville;
}
.big {
    font: 18px Helvetica Neue;
}
.medium {
    font: 16px Helvetica Neue;
}
.small {
    font: 14px Helvetica Neue;
}
.nav-title{
    color:white;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    opacity:0.9;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    opacity: 1;
    background-color: transparent;
}
.head {
    max-height: 200px;
    background-color: white;
    text-align: center;
}
.head div {
    padding-top: 18px;
    padding-bottom: 18px;
    margin: auto 0;
}
#left {
    float:left;
}
#center {
    display: inline-block;
    margin:0 auto;
}
#right {
    float:right;
}
.logo {
    max-height: 57px;
}
.iwitness {
    max-height: 57px;
}
.main {
    background-color: #c0c0c0;
}
.main div{
    padding: 10px 0 0 0;
}
.main-image{
    position: relative;
    width: 100%;
}
.main-image span {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding-left: 18px;
    padding-right: 18px;
}
span {
    text-align: left;
    color: white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
}
.orange {
    color:#ffa800
}
.top-news {
    display: inline;
}
ul .top-news-dot {
    list-style-type: circle;
    list-style-image: url('../icons/red-dots.png');
    list-style-position: inside;
    font-weight: bold;
    text-align: left;
    padding-top: 9px;
}
.grid-space {
    padding: 0px 10px 10px 10px;
}
@media only screen and (max-width: 690px) {
    .main-image span h3{
        font-size: 22px;
    }
}
@media only screen and (min-width: 1170px) {
    #movies-life{
        border-left: solid 1px #FFDA29 ;
    }
}

.trending {
    text-align: left;
    padding-bottom: 30px;
}
.news-side h1{
    margin-top: -5px;
}
#align1{
    margin-top: -15px;
}
.region {
    border-left-color: #FFA800;
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 5px;
}
.small-news {
    padding-top: 8px;
    margin-left: -15px;
    list-style-position: inherit;
    list-style-image: url('../icons/orange-dots.png');
}
.border-top-small-news{
    border-top: #FFA800 solid 2px;
    position: absolute;
    left: 0;
    right: 10px;

}
ul .video-news {
    list-style-image: url('../icons/video-dots.png');
}
.top-news-vid  {
    position: relative;
}
.video-icon-on{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.camera-icon-holder {
    position: relative;
}
.camera-icon-holder span {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0px;
    left: 0;
    padding-left: 18px;
    text-align: left;
    color: white;
    background: #2E2C27;
    padding-bottom: 10px;
}
.camera-icon{
    right: 15px;
    position: absolute;
    bottom: 0px;
    transform: translate(-50%, -50%);
}

.top-news-vid div{
    background-color: #2e2c27;
}
.top-news-vid div h4{
    color: white;
    padding: 10px 20px 0 20px;
}
.top-news-vid div p{
    color: #FFDA29;
    padding: 0 20px 20px 20px;
}
.world-news {
    text-align: left;
    border-top: 1px solid #84827B;
}
.category {
    color: #FF6125;
    margin-top: 0px;
}
.world-news-tab {
    background-color: #eaeaea;
    border-bottom: solid 2px #FFA800;
    color: #2e2c27;
    padding:10px 15px;
}
.world-news-content {
    margin-top: -20px;
}
.world-box{
    margin-bottom: 5px;
}
.influencers{
    padding-top: 10px;
}
table, tr {
    border: 1px solid black;
    width: 100%;
}
td {
    padding: 15px 10px;
}
.red {
    color: red;
}
.green {
    color: lawngreen;
}
.slidepage {
    padding: 20px;
    background-color: #84827B;
}
.slidevideo {
    background-color: #2E2C27;
    color: white;
}
.small-author{
    position: relative;
    background-color: #c0c0c0;
    padding: 10px;
    width: 100%;
}
.small-authors {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    padding-right: 5px;
}
.small-authors-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    padding-left: 5px;
    padding-bottom: 5px;
}
.author-text {
    width: 70%;
    padding: 0 5px 5px 5px;
}
.author-text h4 {
    margin-top: 5px;
}
.author-space {padding: 15px 0}
/*.row.no-gutter [class*='col-']:not(:first-child),.row.no-gutter [class*='col-']:not(:last-child) {*/
    /*padding-right:15px;*/
    /*padding-left:15px;*/
/*}*/
hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
footer {
    border-top: solid #c0c0c0 1px;

}
