body{
    padding-top: 50px;
}
.container{
    max-width: 1170px;
}
h1 {
    font: bold 48px Libre Baskerville;
}
h2 {
    font: bold 36px Libre Baskerville;
}
h3 {
    font: bold 28px Libre Baskerville;
}
h4 {
    font: bold 24px Libre Baskerville;
}
h5 {
    font: bold 22px Libre Baskerville;
}
h6 {
    font: bold 18px Libre Baskerville;
}
p .big {
    font: 18px Helvetica Neue;
}
p .medium {
    font: 16px Helvetica Neue;
}
p .small {
    font: 14px Helvetica Neue;
}
.nav-title{
    color:white;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    opacity:0.9;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    opacity: 1;
    background-color: transparent;
}
.head {
    max-height: 200px;
    background-color: white;
    text-align: center;
}
.head div {
    padding-top: 18px;
    padding-bottom: 18px;
    margin: auto 0;
}
#left {
    float:left;
}
#center {
    display: inline-block;
    margin:0 auto;
}
#right {
    float:right;
}
.logo {
    max-height: 57px;
}
.iwitness {
    max-height: 57px;
}
.main {
    background-color: #c0c0c0;
}
.main div{
    padding: 10px 0 0 0;
}
.main-image{
    position: relative;
    width: 100%;
}
.main-image span {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding-left: 18px;
    padding-right: 18px;
}
span {
    text-align: left;
    color: white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
}
.orange {
    color:#ffa800
}
.top-news {
    display: inline;
}
ul .top-news-dot {
    list-style-type: circle;
    list-style-image: url('../icons/red-dots.png');
    list-style-position: inherit;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-top: 9px;
}
.grid-space {
    padding: 0 5px 0 5px;
}
@media only screen and (max-width: 690px) {
    .main-image span h3{
        font-size: 22px;
    }
}
